---
page_title: "environment Provider"
description: "The environment provider reads shell environment variables and makes them available as a terraform data source"
---


# environment Provider

{{ .Description | trimspace }}


## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{- /* No schema in this provider, so no need for this: .SchemaMarkdown | trimspace */ -}}