---
name: Test

on:
  pull_request:
    branches: [main]
    paths-ignore:
      - "README.md"
      - "CHANGELOG.md"
  push:
    branches: [main]
    paths-ignore:
      - "README.md"
      - "CHANGELOG.md"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Set up Go
        uses: actions/setup-go@v6.3.0
        with:
          go-version: "1.25"
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v6.0.2

      - name: Run linters
        uses: golangci/golangci-lint-action@v9.2.0
        with:
          version: latest

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v4.0.0

      - name: Generate
        run: make generate

      - name: Confirm no diff
        run: |
          git diff --compact-summary --exit-code || \
            (echo "*** Unexpected differences after code generation. Run 'make generate' and commit."; exit 1)

      - name: Build
        run: make build

  test:
    name: "Acc. Tests (OS: ${{ matrix.os }} / TF: ${{ matrix.terraform }})"
    needs: build
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - windows-latest
          - ubuntu-latest
        terraform:
          - "1.10.*"
          - "1.11.*"
          - "1.12.*"
          - "1.13.*"
          - "1.14.*"
    steps:
      - name: Setup Go
        uses: actions/setup-go@v6.3.0
        with:
          go-version: "1.25"
          check-latest: true

      - name: Check out code
        uses: actions/checkout@v6.0.2

      - name: Setup Terraform ${{ matrix.terraform }}
        uses: hashicorp/setup-terraform@v4.0.0
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false

      - name: Run acceptance test
        run: make testacc
